<!--navbar-->
<div class="container-flouid">

    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Autana muebles</h3>
      </a>

          <li class="nav">
            <%= link_to "Inicio", root_path, class: "navbar-brand" %>
          </li>
          <li class="nav">
            <%= link_to "About","/about" %>
        </li>

        </ul>

      </div>
    </div>
  </nav>
</div>